.head{
    text-align: center;
    color: rgb(8, 133, 116);
}
.main2{
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    text-align: center;
}
.div1{
    margin: 5px;
}

.a{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(208, 226, 43);
}
@media only screen and (max-width: 600px){
    .main2{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 600px){
.main2{
    display: grid;
    grid-template-columns: auto auto auto;
}
}
@media only screen and (min-width: 1000px){
    .main2{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

